*{
    box-sizing: border-box;
    margin: 0;
}


.container{
    font-family:  "Kumbh Sans", sans-serif;
    width: 100%;
    height: 47rem;
    display: flex;
    flex-direction: column;
}
.subcontainer{

}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}
.open{
    height: 14px;
}
.close{
    height: 24px;
    width: 24px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.header-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.profile{
    height: 25px;
    width: 2rem;
}
.cart{
    height: 24px;
    width: 1.5rem;
}
.profile:hover{
    cursor: pointer;
}

.profile-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.product-img{
    height: 18rem;
    width: 100%;
}

.icon-previous{
    position: absolute;
    bottom: 70%;
    left: 2%;
    background-color: hsl(0, 0%, 100%);
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 6px;
}

.icon-next{
    position: absolute;
    bottom: 70%;
    right: 2%;
    background-color: hsl(0, 0%, 100%);
    width: 25px;
    height: 25px;
    border-radius: 12px;
    padding: 6px;
}
.container-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
    padding: 14px;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sneaker{
    font-size: 12px;
}
.paragraph{
   color: hsl(219, 9%, 45%);
   font-size: 16px;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.unit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10rem;
}
.percent-container{
    background-color: hsl(0, 0%, 0%);
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
}
.percent{
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: bold;
}
.unit-number{
    color:hsl(0, 0%, 0%);
}

.product{
    text-decoration: line-through;
    color: hsl(219, 9%, 45%);
}
.amount{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 20px;
    background-color: hsl(223, 64%, 98%);
    border-radius: 12px;
}
.container-text{
    padding: 20px;
}
.btn{
    background-color: hsl(26, 100%, 55%);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 16px;
    border: hidden;
}
.nav-container{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.75);
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 1;
}
.collapse{
    display: flex;
    flex-direction: column;
    width: 14rem;
    gap: 12px;
    box-shadow: 0px -1px 11px -4px rgba(0, 0, 0, 0.75);
    background-color: hsl(0, 0%, 100%);
    
}

.navbar{
    color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding: 12px;
}
.sneaker-title{
    
}
.main-title{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 9rem;
}
.thumb{
    display: none;
}
.line{
    display: none;
}
.body{
    display: flex;
    flex-direction: column;
}
.submit{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-top{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    height: 15px;
    width: 18px;
    padding: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    position: relative;
    right: 18%;
    top:2% ;
}
.report{
    width: 19.3rem;
    height:15rem;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    top: 12%;
    left: 2%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 15px;
}
.line{
    background-color: hsl(220, 14%, 75%);
}
.cart-title{
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 15px;
    color: hsl(0, 0%, 0%);
    border-bottom:1px solid hsl(220, 14%, 75%);
    
}
.cart-content{
    
    height: 15rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: hsl(220, 14%, 75%);
}

.cart-img{
    width: 4rem;
    height: 4rem;
    border-radius: 12px;
}
.cart-btn{
    background-color: hsl(26, 100%, 55%);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 17rem;
    padding: 16px;
    border: hidden;
}
.tot{
    font-weight: bold;
    color: hsl(0, 0%, 0%);
}
.cart-text{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 17rem;
}
.check-out{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    gap: 12px;
}
.delete{
    height: 15px;
    width: 15px;
}
.cart-p{
    font-size: 13px;
    color: hsl(219, 9%, 45%);
}

.cartcheck:hover{
    cursor: pointer;
}

@media only screen and (min-width: 426px) {

.product-img{
    height: 24rem;
}
.icon-previous{
    
    bottom: 60%;
    left: 2%;
   
}

.icon-next{
    bottom: 60%;
    right: 2%;
}

.report{
    left: 58%;
}


}

@media only screen and (min-width: 769px){

body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 57rem;
}
.container{
    width: 85%;
    height: 100%;
}

.body{
    flex-direction: row;
    justify-content: space-between;
    height: 55rem;
    border-top:1px solid hsl(220, 14%, 75%);
    /* border: 1px solid red; */
}
.subcontainer{   
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 25px;
    width: 50%;
    padding: 30px;
}

.icon-next{
    display: none;
}
.icon-previous{
    display: none;
}

.thumb{
    display: flex;
    justify-content: space-between;
    
}
.product-img{
        width: 99%;
        height: 60%;
        border-radius: 20px;
}
.thumb-img{
    
    height: 5rem;
    width: 5rem;
    border-radius: 20px;
}
.line{

}

.report{
    /* right: 2%; */
    /* left: 0%; */
    left: 70%;

}
.header{
    padding-left: 0;
    height: 7rem;
}

.nav-container{
    background: transparent;
    height: 2rem;
    display: flex;
    left: 25%;
    top:4% ;
}

.cart{
    width: 28px;
    height: 28px;
}
.profile{
    width:36px;
    height:36px
}
.main-title{

}

.sneaker-title{
    font-size: 30px;
}
.collapse{
    display: flex;
    background-color: transparent;
    width: 25rem;
    box-shadow: none;
}
.navbar{
    display: flex;
    flex-direction: row;
    color: hsl(220, 14%, 75%);
}
.open{
    display: none;
}
.close{
    display: none;
}

.icon-previous{
    
}
.container-text{
    justify-content: center;
    gap: 22px;
    width: 50%;
    padding: 50px;
}
.numbers{
    display: flex;
    flex-direction: column;
    gap:22px
}

.amount{
    width: 40%;
}
.btn{
    width: 55%;
}
.submit{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.content h2{
    font-size: 32px;
}
}

